<%- include('header.ejs') %>
    <form action="/contacProc" method="post">
        <h3>문의하기</h3>
        <li>이름 : <input type="text" name="name" placeholder="이름을 작성해주세요!" required> </li> 
        <li>연락처 : <input type="text" name="phone" placeholder="연락처를 작성해주세요!"required> </li> 
        <li>이메일 : <input type="text" name="email" placeholder="이메일을 작성해주세요!" required> </li>  
        <li>생일 : <input type="text" name="birth" placeholder="ex) 19990213" required> </li> 
        <li>내용 : <br>
        <textarea name="content" cols="100" rows="10" placeholder="content" required></textarea></li> 
        <button>문의하기</button>
    </form>
<%- include('footer.ejs') %>