<%- include('header.ejs') %>
<ul>
    <li>이름 : 김강우</li>
    <li>이메일 : id @ naver.com</li>
    <li>전화번호 : 010-1234-5678</li>
    <li>주소 : 서울특별시 마포구 마포대로 123</li>
    <li>담당자 : 김강우</li>
    <li>담당자 연락처 : 010-1234-5678</li>
</ul>
<%- include('footer.ejs') %>