<%- include('header.ejs') %>
<ul>
    <li>이름 : cocol</li>
    <li>이메일 : id @ naver.com</li>
    <li>전화번호 : 010-1234-5678</li>
    <li>주소 : 대구광역시 00구 00로 000-0000</li>
    <li>담당자 : cocol</li>
    <li>담당자 연락처 : 010-1234-5678</li>
</ul>
<%- include('footer.ejs') %>